<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>






          <section  layout:fragment="content">
              Wybierz rodzaj paczki którą chcesz kupic

              <form action="booster-send" method="post">

                  <button type="submit" > standardowa paczka</button>

              </form>

          </section>




</body>
</html>