<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{template.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <style>

  </style>

</head>
<body>

  <div id="content"  layout:fragment="content">
    change password
  </div>

  <div id="ad"  layout:fragment="content2">

<!--    <form th:action="${'/change-send?email=' + email}" method="post">-->
    <form action="change-send" method="post">
      <input type="hidden" name="email" th:value="${email}">
      <label>
        password
      </label>
      <input type="password" name="password1">
      <label>
        confirm password
      </label>
      <input type="password" name="password2">
      <input type="submit" value="accept">

    </form>

  </div>





</body>
</html>