<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <style>

    </style>

</head>
<body>

<section layout:fragment="content">
    <p>LOGOWANIE</p>
</section>



<!--    <div id="logo">-->
<!--        <h1>POKEMON</h1>-->
<!--    </div>-->

<!--    <div id="nav">-->
<!--        Menu<br>-->
<!--        <a href="" class="link">Option1</a> <br><br>-->
<!--        <a href="" class="link">option2</a> <br><br>-->
<!---->
<!--    </div>-->
<!--    <div id="content">-->
<!--        Welcome to pokemon site-->
<!--    </div>-->

    <div id="ad" layout:fragment="content2">

        <form action="/login-send" method="post">
            <label>
                email
            </label>
            <input type="email" name="email">
            <label>
                password
            </label>
            <input type="password" name="password">
            <input type="submit" value="accept">

        </form>
        <a href="restore-password" class="link">forgot password?</a> <br><br>
    </div>

<!--    <div id="footer">-->
<!--        Jarzewicz Paweł-->
<!--    </div>-->




</body>
</html>