<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{template.html}">

<head>
    <meta charset="UTF-8">
    <title>Restore</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <style>

    </style>
</head>
<body>


  <div id="ad" layout:fragment="content2">

   <form action="/restore-password" method="post">
     <label>
       email
     </label>
      <input type="email" name="email">
     <label>security code</label>
      <input type="text" name="securityCode">
     <input type="submit">
   </form>
  </div>




</body>
</html>